* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14pt;
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100vh;
    font-family: 'Poppins';
}

.text {
    position: absolute;
    left: 25pt;
}

.idTitle {
    font-weight: 400;
    margin-left: .7em;
    margin-right: auto;
    color: #646464;
    margin-bottom: .4em;
    margin-top: 1em;
}

.idCard{ 
    width: 100%;
    position: relative;
}

.idCard__title {
    top: 8pt;
    font-weight: 700;
    color: white;
}

.idCard__subtitle {
    top: 21pt;
    font-size: 12pt;
    font-weight: 400;
    color: white;
}

.idCard__title2 {
    top: 55pt;
    font-weight: 700;
    color: white;
}

.idCard__subtitle2 {
    top: 69pt;
    font-weight: 400;
    color: white;
}

.idCard__titleBlack {
    top: 98pt;
    font-size: 12pt;
    font-weight: 700;
    color: #646464;
}

.idCard__subtitleBlack{
    top: 112pt;
    font-size: 10pt;
    font-weight: 400;
    color: #646464;
}

.idCard__titleBlack2 {
    top: 129pt;
    font-weight: 700;
    color: #646464;
}

.idCard__subtitleBlack2{
    top: 144pt;
    font-size: 10pt;
    font-weight: 400;
    color: #646464;
}

.idCard__card {
    width: 100%;
}

.report {
    width: 100%;
    position: relative;
}

.report__line {
    font-weight: 700;
    
    color: white;
}

.report__line1 {
    top: 16pt;
    font-size: 19.5pt;
}

.report__line2 {
    top: 40pt;
    font-size: 15.4pt;
}

.report__line3 {
    top: 59pt;
    left: 20%;
    font-size: 20.4pt;
}

.report__back {
    width: 100%;
}

.info {
    width: 100%;
}

.info__back {
    width: 100%;
}

.footer {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    padding: 0px;
    background-color: #FF7B36;
}

.footer__back {
    width: 100%;
    margin-bottom: 0px;
}