* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14pt;
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100vh;
    font-family: 'Poppins';
}

.text {
    position: absolute;
    left: 25pt;
}

.idTitle {
    font-weight: 400;
    margin-left: .7em;
    margin-right: auto;
    margin-bottom: .4em;
    margin-top: 2em;
}

.idCard{ 
    width: 100%;
    position: relative;
}

.idCard__title {
    top: 8pt;
    font-weight: 700;
    color: white;
}

.idCard__subtitle {
    top: 21pt;
    font-weight: 400;
    color: white;
}

.idCard__title2 {
    top: 55pt;
    font-weight: 700;
    color: white;
}

.idCard__subtitle2 {
    top: 69pt;
    font-weight: 400;
    color: white;
}

.idCard__titleBlack {
    top: 98pt;
    font-size: 12pt;
    font-weight: 700;
    color: rgb(42, 42, 42);
}

.idCard__subtitleBlack{
    top: 112pt;
    font-size: 12pt;
    font-weight: 400;
    color: rgb(42, 42, 42);
}

.idCard__titleBlack2 {
    top: 129pt;
    font-weight: 700;
    color: rgb(42, 42, 42);
}

.idCard__subtitleBlack2{
    top: 142pt;
    font-size: 12pt;
    font-weight: 400;
    color: rgb(42, 42, 42);
}

.idCard__card {
    width: 100%;
}

.report {
    width: 100%;
    position: relative;
}

.report__line {
    font-weight: 700;
    top: 15px;
    font-size: ;
    color: white;
}


.report__back {
    width: 100%;
}

.info {
    width: 100%;
}

.info__back {
    width: 100%;
}

.footer {
    width: 100%;
}

.footer__back {
    width: 100%;
}